/* R G  */

*  body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Navbar / burger menu */

.menu {
    background-color: rgb(2, 83, 2);
    display: flex;
    color :red;  /* n'affecte pas les anchors */
    text-align: center;
}
/*
a.nav_a {
    color: white;
    text-decoration: none;
}
*/

/* au lieu d'utiliser la class nav_a j'affect tous les a dns ul avec id items_list */
ul#items_list a {
    padding: 10px;
    color: white;
    text-decoration: none; /* pas de ligne sous chaque item */
}

a:hover {
    color: yellow;
}

/* je construis une vrai liste que je mets sur une seule ligne */
ul#items_list li {
    display: inline;
    text-align: center;
    padding: 2px ;
    margin: 0;
    width: 19%;
}

/* Accueil */
.acc {
    margin: 0%;
    position: relative;
}

.acc_title {
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.acc_subtitle {
    position: absolute;
    top: 15%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.acc_text {
    position: absolute;
    top: 30%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.acc_rdv_button {
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    background-color:darkolivegreen;
    border-radius: 20px;
    border: none;
}

/* a propos de nous */
.about_us {
    margin: 0%;
    position: relative;
}
div#about_img_container {
    width: 50%;  
    /*position: absolute;*/
    top: 10px;
    left: 10px;
}
.about_us_shpeel {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;  
    position: absolute;
    top: 100px;
    right: 10px;
    border:  gray;
    border-style: outset;
}
.about_us_img {
    max-width: 100%;
    max-height: 100%;
}
.about_us_title {
    /*position: absolute; */
    top: 10px;
    right: 50%;
    padding: 10px;
}
.deco_about {
    color: rgb(48, 65, 48);
}
.deco_us {
    color: rgb(86, 139, 86);
}
.about_us_text {
    /* position: absolute; */
    top: 40px;
    right: 10%;
    padding: 10px;
    color: rgb(83, 81, 81);
}

.services {
    position: relative;
    font-family: Verdana;
    
}
.services_text {
    position:absolute;
    width: 100%;
    margin-left: 10%;
    top: 50px;
}
.offices {
    position: absolute;
    top: 200px;
    left: 10%;
    border-style: outset;
    width: 40%;
    height: 150px;
    padding: 10px;
}
.tenants {
    position: absolute;
    top: 200px;
    left: 55%;
    border-style: outset;
    width: 40%;
    height: 150px;
    padding: 10px;
}
.marketing {
    position: absolute;
    top: 400px;
    left: 10%;
    border-style: outset;
    width: 40%;
    height: 150px;
    padding: 10px;
}
.furnishing {
    position: absolute;
    top: 400px;
    left: 55%;
    border-style: outset;
    width: 40%;
    height: 150px;
    padding: 10px;
}

.method {
    position: relative;
    top: 600px;
    font-family: Verdana;
}
.method_title {
    position:absolute;
    width: 90%;
    margin-left: 10%;
    top: 50px;
    right: 10px;
}
.method_requirements {
    position:absolute;
    width: 95%;
    margin-left: 10%;
    top: 100px;

}
.method_selection {
    position:absolute;
    width: 50%;
    margin-left: 0%;
    top: 50px;
    left: 10px;
}
ul#method_list {
    list-style: none /* remove dot */
}
ul#method_list li {
    text-align: left;
    padding: 2px ;
    margin: 0;

}
ul#method_list button {
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    color: darkolivegreen;
    font-size: 1.3em;
    padding: 4px;
}
ul#method_list button:hover {
    background-color: rgb(129, 153, 129);
  }
.method_text {
    position:absolute;
    width: 60%;
    top: 50px;
    right: 60px;
    margin: 10px;
    padding: 20px;
}
.method_text_align {
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 50%;
}
.method_text_show {
    display: inline; /* juste qqch */
}
.method_text_hide {
    display: none;
}


.contact {
    position: relative;
    top: 1200px;
    font-family: Verdana;
}
.contact_img_container {
}
.contact_img {
    height: auto;
    width: 100%;
}
.contact_invite {
    position: absolute;
    bottom: 20px;
    color: white;
    left: 30px;
}
.contact_details {
    position: absolute;
    top: 20px;
    z-index: 3;
    background: white;
    height: max-content;
    padding: 200px;
    right: 50px;
    margin: 30px;
}
form#form_contact label {
    display: block;
}
.contact_input {
    border-bottom: gray ridge;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    margin-top: 10px;
}
.contact_input:focus {
    outline: none;
}
form#form_contact textarea {
    margin-top: 20px;
}
div#box_firstname {
    position: absolute;
    left: 20px;
    top: 10px;
}
div#box_lastname {
    position: absolute;
    right: 10px;
    top: 10px;
}
div#box_business {
    position: absolute;
    left: 20px;
    top: 100px;
}
div#box_email{
    position: absolute;
    right: 10px;
    top: 100px;
}
div#box_send{
    position: absolute;
    top: 200px;
    left: 10px;
    right: 10px;
    width: 100%;
}
.submit_button {
    margin-left: 50px;
    margin-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(9,64,64);
    border-radius: 20px;
}
.legal {
    position: absolute;
    bottom: 20px;
    right: 10px;
}