/* R G  */

*  body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Navbar / burger menu */

.menu {
    background-color: rgb(2, 83, 2);
    display: flex;
    color :red;  /* n'affecte pas les anchors */
    text-align: center;
}
/*
a.nav_a {
    color: white;
    text-decoration: none;
}
*/

/* au lieu d'utiliser la class nav_a j'affect tous les a dns ul avec id items_list */
ul#items_list a {
    padding: 10px;
    color: white;
    text-decoration: none; /* pas de ligne sous chaque item */
}

a:hover {
    color: yellow;
}

/* je construis une vrai liste que je mets sur une seule ligne */
ul#items_list li {
    display: inline;
    text-align: center;
    padding: 2px ;
    margin: 0;
    width: 19%;
}

/* Accueil */
.acc {
    margin: 0%;
    position: relative;
}

.acc_title {
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.acc_subtitle {
    position: absolute;
    top: 15%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.acc_text {
    position: absolute;
    top: 30%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.acc_rdv {
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    background-color:darkolivegreen;
    border-radius: 20px;
    border: none;
}

/* a propos de nous */
.about_us {
    margin: 0%;
    position: relative;
}
div#about_img_container {
    width: 50%;  
    /*position: absolute;*/
    top: 10px;
    left: 10px;
}
.about_us_shpeel {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;  
    position: absolute;
    top: 100px;
    right: 10px;
    border:  gray;
    border-style: outset;
}
.about_us_img {
    max-width: 100%;
    max-height: 100%;
}
.about_us_title {
    /*position: absolute; */
    top: 10px;
    right: 50%;
    padding: 10px;
}
.deco_about {
    color: rgb(48, 65, 48);
}
.deco_us {
    color: rgb(86, 139, 86);
}
.about_us_text {
    /* position: absolute; */
    top: 40px;
    right: 10%;
    padding: 10px;
    color: rgb(83, 81, 81);
}

.services {
    position: relative;
    font-family: Verdana;
    
}
.services_text {
    position:absolute;
    width: 100%;
    margin-left: 10%;
    top: 50px;
}
.offices {
    position: absolute;
    top: 200px;
    left: 10%;
    border-style: outset;
    width: 40%;
    height: 150px;
    padding: 10px;
}
.tenants {
    position: absolute;
    top: 200px;
    left: 55%;
    border-style: outset;
    width: 40%;
    height: 150px;
    padding: 10px;
}
.marketing {
    position: absolute;
    top: 400px;
    left: 10%;
    border-style: outset;
    width: 40%;
    height: 150px;
    padding: 10px;
}
.furnishing {
    position: absolute;
    top: 400px;
    left: 55%;
    border-style: outset;
    width: 40%;
    height: 150px;
    padding: 10px;
}
.method {
    position: relative;
}